/* stylesheet.css
 *
 * palette:
 * https://coolors.co/palette/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff-fffffc
 */

.deadline-timer-icon-cool {
	color: #9BF6FF;
}

.deadline-timer-icon-smile {
	color: #CAFFBF;
}

.deadline-timer-icon-plain {
	color: #FDFFB6;
}

.deadline-timer-icon-worried {
	color: #FFD6A5;
}

.deadline-timer-icon-surprise {
	color: #FFADAD;
}

.deadline-timer-icon-sick {
}

/* EoF */
